.marquee {
  width: 100%;
  overflow: hidden;
}
.marquee-inner {
  display: flex;
  height: 100%;
}
.marquee-inner > * {
  white-space: nowrap;
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}