body {
    height: 100vh;
    height: 100svh;
}
main {
    height: 100%;
    background-image: linear-gradient(180deg, #fff,transparent,transparent,transparent,transparent,transparent,transparent,transparent,transparent, #f8f8f8), url("../../Images/Pages/404/404_background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}
main h1 {
    font-size: 5rem;
    font-weight: 900;
}
main h2 {
    font-size: 3rem;
    font-weight: 700;
}
main h3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: italic;
}
main a {
    background: var(--adobe-red);
    width: max-content;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 100vw;
    margin-top: 2rem;
    transition: all .2s ease-in-out;

    &:hover {
        transform: translateY(-3px);
    }
    &:focus-visible {
        outline: 4px solid #fff;
        outline-offset: -8px;
    }
}
footer {
    margin-top: auto;
}

@media (max-width: 750px) {
    main h1 {
        font-size: 4rem;
    }
    main h2 {
        font-size: 2rem;
    }
    main h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 550px) {
    main h1 {
        font-size: 2rem;
    }
    main h2 {
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }
    main h3 {
        font-size: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #fff;
    }
}

/* @media (max-height: 680px) {
    body {
        height: auto;
    }
} */